<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	<typeAliases>
		<!-- typeAlias type="tpFunder.domain.TpFunder" alias="tpFunder" / -->
		<package name="kr.pe.tippingpoint.vo"/>
	</typeAliases>
	
	
	<mappers>
		<mapper resource="kr/pe/tippingpoint/mybatis/tpFunderMapper.xml"/>
	</mappers>


</configuration>
