<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd">

	<context:component-scan base-package="kr.or.kosta.customer.model,kr.or.kosta.customer.controller"/>
	<mvc:annotation-driven/>
	<!-- link 설정-->
	<!-- 메인페이지 -->
	<mvc:view-controller path="/index.do" view-name="index.tiles"/>
	<!-- 등록페이지 -->
	<mvc:view-controller path="/customer/register_form.do" view-name="customer/register_form.tiles"/>
	<!-- ViewResolver 등록 -->
	<bean class="org.springframework.web.servlet.view.BeanNameViewResolver"
		      p:order="1"/>
	<bean class="org.springframework.web.servlet.view.tiles3.TilesViewResolver"
			  p:order="2"/>
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver"
			  p:order="3"/>
	<!-- TilesConfigurer 빈으로 등록 : tiles 설정파일을 등록 -->
	<bean name="tilesConfigurer" 
			  class="org.springframework.web.servlet.view.tiles3.TilesConfigurer">
		<property name="definitions">
			<list>
				<value>/WEB-INF/config/tiles/tiles-defs.xml</value>
			</list>
		</property>	  
	</bean>	
	<!-- messageSource bean 등록 -->
	<bean name="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource"
		  p:basename="common.message.error_message"/>
	
	<!-- Database 연동 설정-->
	<bean name="dataSource" class="org.apache.commons.dbcp2.BasicDataSource"
				p:driverClassName="oracle.jdbc.driver.OracleDriver" 
				p:url="jdbc:oracle:thin:@127.0.0.1:1521:XE"
				p:username="tippingpoint"
				p:password="1592"
				p:maxTotal="100"/>
	
	<bean name="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean"
				p:configLocation="/WEB-INF/config/mybatis/mybatis-config.xml" 
		 		p:dataSource-ref="dataSource"/>
		 		
	<bean name="SqlSession" class="org.mybatis.spring.SqlSessionTemplate" c:sqlSessionFactory-ref="sqlSessionFactory"/>
	
</beans>
